%fieldset
  %legend Create a new todo
  - form_for @todo do |f|
    -if @todo.errors.any?
      #error_explanation
        %h2= "#{pluralize(@todo.errors.count, "error")}"
        %ul
          - @todo.errors.full_messages.each do |msg|
            %li= msg
    %p
      = f.label :title, "Title:"
      = f.text_field :title
    %p
      = f.label :description, "Description:"
      = f.text_area :description, :rows => 4, :cols => 75
    %p
      = f.label :due_date, "Due date:"
      = f.date_select :due_date
    %p
      = f.submit "Create"
%h2 Your todos
%table
  %thead
    %tr
      %th Title
      %th Description
      %th Due date
      %th Position
      %th 
  %tbody
    - @todos.each do |t|
      %tr
        %td
          - form_for t do |f|
            = f.check_box :completed, :onchange => "this.form.submit();"
            - if t.completed?
              %strike
                =t.title
            - else
              = t.title
        %td= t.description
        %td= t.due_date
        %td= t.position
        %td
          - form_for t do |f|
            = hidden_field_tag "move", "down"
            = f.submit "Move down"
          - form_for t do |f|
            = hidden_field_tag "move", "up"
            = f.submit "Move up"